@page "/Configuration"
@using Microsoft.Extensions.Localization
@using global::HQSOFT.Configuration.Localization
@inject IStringLocalizer<ConfigurationResource> L
@{
}
<h1>Configuration</h1>
<p>@L["SamplePageMessage"]</p>